Repository Laderis97/AI-Powered-Recruiter-Automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-lead, @security-team, @frontend-team, @backend-team, @ai-team, @data-team, @devops-team

.github/CODEOWNERS:

# Global owners
* @tech-lead

# Critical security areas
/src/aiAgent.ts @security-team
/src/databaseService.ts @security-team
/.env* @security-team

# Frontend components
/public/js/ @frontend-team
/public/css/ @frontend-team
/views/ @frontend-team

# Backend services
/src/server.ts @backend-team
/src/emailService.ts @backend-team
/src/documentParser.ts @backend-team

# AI and ML components
/src/openai.ts @ai-team
/src/aiAgent.ts @ai-team

# Database and data models
/src/databaseService.ts @data-team
/src/schemas.ts @data-team

# Infrastructure and deployment
/Dockerfile @devops-team
/docker-compose.yml @devops-team
/.github/workflows/ @devops-team

# Documentation
/docs/ @tech-lead
/README.md @tech-lead

feat: Add comprehensive engineering tooling and CI/CD setup
  .eslintrc.json
  .prettierrc
  __tests__/e2e/dashboard.test.ts
  __tests__/integration/api.test.ts
  __tests__/unit/databaseService.test.ts
  dist/cursor_mvp_ai_recruiter.js
  dist/openai.js
  dist/server.js
  jest.config.cjs
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  public/js/modern-ui.js
  src/advancedAssessment.ts
  src/aiAgent.ts
  src/aiOrchestrator.ts
  src/auth.ts
  src/cursor_mvp_ai_recruiter.ts
  src/databaseService.ts
  src/debugTest.ts
  src/documentParser.ts
  src/emailService.ts
  src/llmClient.ts
  src/machineLearning.ts
  src/openai.ts
  src/predictiveAnalytics.ts
  src/schemas.ts
  src/semanticSearch.ts
  src/server.ts
  src/storage.ts
  src/supabase.ts
  src/testDocumentParser.ts
  src/types.d.ts
Owners: @tech-lead, @frontend-team, @ai-team, @data-team, @backend-team

feat: add comprehensive repository hygiene and development tooling
  .commitlintrc.json
  .editorconfig
  .eslintrc.json
  .gitattributes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .markdownlint.json
  CONTRIBUTING.md
  README.md
  SECURITY.md
  SUPABASE_SETUP.md
  data/app-data.json
  docs/adr-001-typescript-migration.md
  docs/adr-template.md
  docs/engineering-reference.md
  docs/incident-template.md
  docs/onboarding-checklist.md
  package-lock.json
  package.json
  src/server.ts
Owners: @tech-lead, @backend-team

feat: implement comprehensive pre-commit automation and quality assurance
  .markdownlint.json
  .pre-commit-config.yaml
  Makefile
  README.md
  package-lock.json
  package.json
  scripts/qa.bat
  scripts/qa.ps1
  src/server.ts
Owners: @tech-lead, @backend-team

feat: add comprehensive GitHub Actions workflows for CI/CD pipeline
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  Dockerfile
  dist/server.js
  src/server.ts
  suppression.xml
Owners: @devops-team, @tech-lead, @backend-team

feat: implement comprehensive security baseline
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/gitleaks/.gitleaks.toml
  .github/workflows/gitleaks.yml
  .github/workflows/verify.yml
  GITHUB_ACTIONS_SUMMARY.md
  Makefile
  SECURITY.md
  cyclonedx.json
  docs/engineering-reference.md
  scripts/qa.bat
  threat-model/STRIDE-checklist.md
Owners: @tech-lead, @devops-team

feat: complete observability implementation and testing infrastructure
  .github/workflows/verify.yml
  Makefile
  __tests__/e2e/dashboard-flow.spec.js
  __tests__/e2e/global-setup.js
  __tests__/e2e/global-teardown.js
  __tests__/integration/api.test.ts
  __tests__/integration/database-integration.test.js
  __tests__/unit/candidate-analyzer.test.js
  __tests__/unit/databaseService.test.ts
  __tests__/unit/flaky-test-example.test.js
  cyclonedx.json
  docs/observability.md
  jest.config.cjs
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  playwright.config.js
  scripts/qa.bat
  src/routes/health.js
  src/server.ts
  src/utils/candidate-analyzer.js
  src/utils/logger.js
  src/utils/metrics.js
  src/utils/observability-example.js
  src/utils/telemetry.js
Owners: @devops-team, @tech-lead, @backend-team

feat: implement functional header navigation system
  public/css/modern-design.css
  public/js/modern-ui.js
  test-navigation.html
  views/modern-dashboard.ejs
Owners: @frontend-team, @tech-lead

fix: resolve navigation loading state conflicts
  public/js/modern-ui.js
  test-navigation.html
Owners: @frontend-team, @tech-lead

feat: navigation system working with major linting issues resolved
  public/js/modern-ui.js
Owners: @frontend-team

feat: major code cleanup - 0 errors, 87 warnings remaining
  public/js/modern-ui.js
Owners: @frontend-team

feat: continue major cleanup - console statements and unused variables
  public/js/modern-ui.js
Owners: @frontend-team

feat: major cleanup progress - down to ~20 warnings
  public/js/modern-ui.js
Owners: @frontend-team

feat: achieve 0 linting issues - production-ready code quality
  public/js/modern-ui.js
Owners: @frontend-team

docs: create minimal maintainable documentation system
  Makefile
  README.md
  docs.ps1
  docs/README.md
  docs/adr/ADR-000-template.md
  docs/adr/ADR-001-sample-decision.md
  docs/onboarding.md
  docs/rfc/RFC-template.md
Owners: @tech-lead

fix: remove Snyk dependency from CI workflow
  .github/workflows/ci.yml
Owners: @devops-team

fix: resolve SARIF upload errors in verify workflow
  .github/workflows/verify.yml
Owners: @devops-team

feat(ui): enable user avatar dropdown functionality
  .github/workflows/verify.yml
  public/css/modern-design.css
  public/js/modern-ui.js
  views/modern-dashboard.ejs
Owners: @devops-team, @frontend-team

Initialize crew accommodations multi-agent planning system MVP
  crew-accom/.env.example
  crew-accom/README.md
  crew-accom/package-lock.json
  crew-accom/package.json
  crew-accom/src/agents/audit.ts
  crew-accom/src/agents/cityContext.ts
  crew-accom/src/agents/contractCompliance.ts
  crew-accom/src/agents/flightIngest.ts
  crew-accom/src/agents/geoDistance.ts
  crew-accom/src/agents/hotelSourcing.ts
  crew-accom/src/agents/preference.ts
  crew-accom/src/agents/rateNegotiation.ts
  crew-accom/src/agents/scheduleOptimizer.ts
  crew-accom/src/context.ts
  crew-accom/src/data/samples/airports.sample.json
  crew-accom/src/data/samples/constraints.sample.json
  crew-accom/src/data/samples/flights.sample.json
  crew-accom/src/data/samples/hotels.sample.json
  crew-accom/src/data/schemas.ts
  crew-accom/src/data/types.ts
  crew-accom/src/index.ts
  crew-accom/src/orchestrator.ts
  crew-accom/src/server.ts
  crew-accom/src/services/cache.ts
  crew-accom/src/services/db.ts
  crew-accom/src/services/flights.ts
  crew-accom/src/services/maps.ts
  crew-accom/src/services/ota.ts
  crew-accom/tsconfig.json
Owners: @tech-lead

Checkpoint before follow-up message
  crew-accom/.gitignore
Owners: @tech-lead

Add Supabase integration, CI/CD, and deployment configuration
  crew-accom/.env.example
  crew-accom/.env.production.example
  crew-accom/.github/workflows/ci-cd.yml
  crew-accom/.gitignore
  crew-accom/DEPLOYMENT.md
  crew-accom/SETUP.md
  crew-accom/package.json
  crew-accom/render.yaml
  crew-accom/src/server.ts
  crew-accom/src/services/supabase.ts
  crew-accom/supabase/config.toml
  crew-accom/supabase/functions/eta/index.ts
  crew-accom/supabase/functions/hotel-source/index.ts
  crew-accom/supabase/migrations/001_initial_schema.sql
  crew-accom/supabase/migrations/002_functions_and_procedures.sql
  crew-accom/supabase/migrations/003_seed_data.sql
Owners: @tech-lead

feat(ui): add avatar dropdown functionality and fix docker build
  Dockerfile
  dist/server.js
  package.json
  public/js/modern-ui.js
  render.yaml
  src/styles/theme.css
  tatus --porcelain
Owners: @devops-team, @tech-lead, @frontend-team

fix(ci): skip husky install in docker environment
  Dockerfile
  package.json
Owners: @devops-team, @tech-lead

fix(deployment): add missing directories to docker container
  Dockerfile
Owners: @devops-team

fix(ui): add debugging and fix public directory deployment
  .gitignore
  public/js/modern-ui.js
Owners: @tech-lead, @frontend-team
